@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

.banner{
	padding-top: 80px;
}

.ml-auto {
    margin-left: auto !important;
}

/*========= Menu =========*/

.menu-principal{
	padding: 10px 0px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F4F4F4 100%), #FFFFFF;
	box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.08);
}

.menu-principal ul li a{
	font-family: 'Exo 2', sans-serif;
	font-size: 18px;
	color: #575454;
}

.menu-principal .logo{
	width: auto;
	
}

.menu-principal ul .item-destak{
	background: #FF3232;
	border-radius: 4px;
}

.menu-principal ul .active{
	color: #FF3232;
}

.menu-principal ul li a:hover{
	color: #FF3232;
}

.menu-principal ul .item-destak a{
	color: #FFF !important;
	padding-right: 20px !important;
	padding-left: 20px !important;
}

/*Mobile Media Config*/
@media only screen and (max-width: 1199px){
	#firm-link{
		display: none;
	}
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*========= Menu =========*/

.banner img{
	width: 100%;
}

/*========= Presentation =========*/

#presentation{
	background: #F6F6F6;
	padding: 60px 0px;
}

#presentation h1{
	font-family: 'Exo 2', sans-serif;
	font-size: 45px;
	font-weight: 800;
	line-height: 45px;
	padding-bottom: 15px;
}
@media only screen and (max-width: 992px){
	#presentation h1, #presentation p{
		text-align: center;
	}
}

#presentation h1 span{
	color: #787878;
}

#presentation p{
	font-family: 'Exo 2', sans-serif;
	color: #575454;
}

#presentation article{
	margin-top: 80px;
}
@media only screen and (max-width: 1199px){
	#presentation article{
		margin-top: 30px;
	}
}

.container-img-presentation{
	padding: 20px;
	width: 100%;
	text-align: center;
}

.container-img-presentation img{
	border-radius: 10px;
	width: 100%;
	box-shadow: -15px 15px 26px -3px rgba(0, 0, 0, 0.33);
}
@media only screen and (max-width: 1199px){
	.container-img-presentation img{
		max-width: 475px;
		margin: 0 auto;
	}
}

/*========= Presentation Cards =========*/

.section-title.dark h1{
	color: #FFF;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	font-weight: 800;
	font-size: 40px;
}

.section-title.dark p{
	color: #DCDCDC;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}

.section-title.light h1{
	color: #FF3232;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	font-weight:  800;
	font-size: 40px;
}

.section-title.lightd h1{
	color: #5A5A5A;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	font-weight:  800;
	margin-bottom: 0px;
	font-size: 40px;
}

.section-title.light p, .section-title.lightd p{
	color: #656565;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}

.section-title.lightd p{
	padding-bottom: 20px;
}

#presentation-cards{
	padding: 70px 20px;
	background-image: url("../images/card-presentation.png");
}

#presentation-cards .card{
	border: none;
	height: 450px;
	margin-top: 30px;
}

#presentation-cards .card h5{
	text-align: center;	
	font-family: 'Exo 2', sans-serif;
	font-weight: 800;
	color: #4E4E4E;
	padding-top: 10px;
	padding-bottom: 10px;
}

#presentation-cards .card p{
	text-align: justify;	
	font-family: 'Exo 2', sans-serif;
	color: #888888;
	font-size: 15px;
}

/*========= Functions =========*/

#functions{
	padding: 70px 20px;	
}

#functions h1{
	color: #FF3232;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	font-weight:  800;
	margin-bottom: 0px;
	font-size: 40px;
}

#functions .desc{
	color: #656565;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}

.text-desc{
	font-family: 'Exo 2', sans-serif;
	color: #575454;
	font-size: 17px;
	text-align: justify;
	padding-left: 20px;
}

.title-desc{
	color: #4E4E4E;
	font-family: 'Exo 2', sans-serif;
	font-weight:  800;
	font-size: 40px;
	padding-top: 40px;
	padding-left: 20px;
}

#functions img{
	border-radius: 7px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

#functions figure{
	padding: 30px;
}

.owl-theme .owl-dots .owl-dot.active span{
	 background: #FF3232 !important;
}

.owl-theme .owl-dots .owl-dot span{
    width: 40px !important
}
@media only screen and (max-width: 767px){
	.owl-theme .owl-dots .owl-dot span{
		width: 30px !important
	}
}

.aviso{
	text-align: center;
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
	display: none;
}
@media only screen and (max-width: 767px){
	.aviso{
		display: block;
	}
}

.img-btn-prev-function, .img-btn-next-function, .img-btn-prev-order, .img-btn-next-order{
	width: 90%;
	box-shadow: none !important;
	position: relative;
	top: 120px;
	cursor: pointer;
}
@media only screen and (max-width: 767px){
	.img-btn-prev-function, .img-btn-next-function, .img-btn-prev-order, .img-btn-next-order{
		display: none;
	}
}

/*========= Orders =========*/

#orders{
	padding: 70px 20px;
	background-image: url("../images/card-presentation.png");
}

#carousel-orders{
	margin-top: 20px;
}

.order-img{
	padding: 0px 10px;
}

.order-img img{
	box-shadow: -15px 16px 25px rgba(0, 0, 0, 0.23);
	border-radius: 10px 10px 0px 0px;
}

.order-img figcaption{
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	font-weight:  800;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 0px 0px 10px 10px;
}

/*========= Questions =========*/

#questions{
	padding: 70px 0px;
	color: #FDFDFD;
}

.accordion-button:not(.collapsed) {
    color: #A15B5B;
    background-color: #ffe7e7;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
	font-family: 'Exo 2', sans-serif;
	font-weight:  700;
}

.accordion-button {
    color: #A15B5B;
	font-family: 'Exo 2', sans-serif;
	font-weight:  500;
}

.accordion-body{
	color: #656565;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

/*========= Projects =========*/

#projects{
	background-color: #F6F6F6;
	padding: 50px 20px;
}

.btn-secondary{
	font-family: 'Exo 2', sans-serif;
	font-weight:  800;
	font-size: 18px;
	background-color: #C4C4C4;
	color: #6C6C6C;
	border-color: #C4C4C4;
	margin-bottom: 20px;
	transition: 0.3s linear;
}
.btn-secondary:hover, .btn-secondary.active, .btn-secondary:after, .btn-secondary:focus, .btn-primary{
	background-color: #FF3232;
	border-color: #FF3232;
	filter: drop-shadow(-12px 5px 10px rgba(0, 0, 0, 0.3));
}.btn-secondary:focus, .btn-primary:focus{
	-webkit-box-shadow: none!important;
    box-shadow: none!important;
	outline: none !important;
}

.proj-img img{
	border-radius: 15px;
	padding: 10px
}

/*========= Firm =========*/

#firm{
	padding: 70px 0px;
	background-color: #494949;
}

#firm figure{
	text-align: center;
}

#firm figure img{
	width: 50%;
	margin-bottom: 20px
}

#firm figure figcaption{
	color: #fff;
	font-family: 'Exo 2', sans-serif;
	font-weight:  800;
	font-size: 18px;
	line-height: 20px
}


#firm figure figcaption span{
	color: #fff;
	font-family: 'Exo 2', sans-serif;
	font-weight:  500;
	font-size: 14px;
}

/*========= Contact =========*/

#contact{
	background: linear-gradient( 90deg, #FF4646 50%, #C60101 50%);
}

#contact .whatsapp{
	background-color: #FF4646;
	padding: 20px 30px 10px 40px;
}

#contact .local{
	background-color: #EF0101;
	padding: 20px 30px 10px 40px;
}

#contact .email{
	background-color: #C60101;
	padding: 20px 30px 10px 40px;
}

@media only screen and (max-width: 1199px){
	#contact .whatsapp, #contact .local, #contact .email{
		text-align: center;
		padding: 20px 30px 10px 20px;
	}
}

#contact a{
	color: #FFF;
	text-decoration: none;
}

#contact a h6{
	font-family: 'Exo 2', sans-serif;
	font-weight:  700;
	font-size: 20px;
	line-height: 5px;
}
@media only screen and (max-width: 1199px){
	#contact a h6{
		font-family: 'Exo 2', sans-serif;
		font-weight:  700;
		font-size: 20px;
		line-height: 20px;
	}
}

#contact a p{
	font-family: 'Exo 2', sans-serif;
	font-weight:  500;
	font-size: 15px;
}

#contact article{
	float: left;
	padding-left: 20px;
	padding-top: 20px;
	position: relative;
	top: 8px;
}
@media only screen and (max-width: 1199px){
	#contact article{
		padding-left: 0px;
	}
}

#contact img{
	float: left;
	position: relative;
	top: 10px;
}
@media only screen and (max-width: 1199px){
	#contact article{
		float: none;
	}

	#contact img{
		float: none;
	}
}

#contact .email img{
	top: 15px;
}

/*========= Form =========*/

#form{
	padding: 70px 20px;
	background-image: url(../images/pattern.png);
	background-size: cover;
}

#form form{
	background: linear-gradient(180deg, #EF0101 0%, #FF6767 32.81%, #C60101 78.65%);
	background-size: contain;
	border-radius: 4px;
	padding: 30px;
}

#form form input{
	border:none !important;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	box-shadow: -6px 7px 13px rgba(0, 0, 0, 0.15) !important;
}

.title-input{
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	font-weight:  800;
	font-size: 17px;
	color: #FFF;
	padding: 5px;

}

#form h1{
	font-family: 'Exo 2', sans-serif;
	font-weight:  800;
	color: #5A5A5A;
	padding-top: 150px;
}

@media only screen and (max-width: 767px){
	#form h1{
		padding: 0px 0px 40px 0px;
		text-align: center;
	}
	#form .mobile-correction{
		margin-bottom: 15px;
	}
}

.btn-form{
	font-family: 'Exo 2', sans-serif;
	font-weight:  500;
	background-color: #881721;
	border-color: #881721;
	border-color: #881721;
}
.btn-form:hover, .btn-primary:hover, #form-link:hover{
	background-color: #75111a;
	border-radius: 5px;
}

/*========= Companies =========*/

#companies{
	background-color: #FFF;
	padding: 70px 20px;
	box-shadow: 0px 0px 33px rgba(0, 0, 0, 0.23);
	z-index: 3000;
}

.logo_companie{
	width: 100%;
	padding: 20px;
	background-color: #FFF;
	box-shadow: -10px 10px 14px rgba(0, 0, 0, 0.1);
	margin-top: 30px;
	border-radius: 5px;
}

/*========= Footer =========*/

footer{
	padding: 50px 20px;
}

.copyright{
	padding-top: 50px;
}
@media only screen and (max-width: 1199px){
	.copyright{
		padding-top: 35px;
	}
}
@media only screen and (max-width: 767px){
	.copyright{
		text-align: center;
	}
}


.logo_rodape{
	width: 100%;
}
@media only screen and (max-width: 767px){
	.logo_rodape{
		display: none;
	}
}

@media only screen and (max-width: 991px){
	.logo_rodape{
		padding-top: 20px;
	}
}

.social{
	width: 100%;
	padding-top: 30px;
}
@media only screen and (max-width: 991px){
	.social{
		width: 100%;
		padding-top: 40px;
	}
}
@media only screen and (max-width: 767px){
	.social{
		width: 50%;
		padding-top: 40px;
		margin: 0 auto;
		text-align: center;
	}
	.social-contain{
		text-align: center;
	}
}


.final{
	color: #fff;
	font-family: 'Exo 2', sans-serif;
	font-weight:  500;
	background-color: #E13B3B;
	padding: 20px 10px;
	text-align: center;
	font-size: 15px;
}
